{% extends 'base.html.twig' %}

{% block title %}Editer une Question{% endblock %}

{% block body %}
    <div class="container ">
    <h1 class="text-center mb-3">Editer une Question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    

    {{ include('question/_delete_form.html.twig') }}
    </div>
{% endblock %}
