{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}    
<div class="container ">
    <h1 class="text-center mb-3">Ajouter une question</h1>
        {{ include('question/_form.html.twig') }}
    <div><a href="{{ path('categorie_index') }}">Revenir aux Quizz</a></div>
</div>
{% endblock %}
