{{ form_start(form, {'action': path('categorie_new')}) }}

    {{ form_widget(form) }}
    
    <div class="text-center"><button class="btn btn-primary w-25">{{ button_label|default('Suite') }}</button></div>
{{ form_end(form) }}
