{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
<div class="container ">
    <h1 class="text-center mb-3"></h1>

   

    {# <a href="{{ path('categorie_index') }}">Retourner à la liste des catégories</a> #}

    {# <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
