{% extends 'base.html.twig' %}

{% block title %}Editer un membre{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    {% set path_edit = 'admin_user_edit' %}
{% else %}
    {% set path_edit = 'user_edit' %}
{% endif %}
<div class="container ">
    <h1 class="text-center mb-3">Editer un Membre</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}, {'action': path(path_edit, {'id': user})}) }}

     {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('admin_user_index') }}">Revenir aux membres</a>
{% endif %}

<div class="mt-5">
    {{ include('user/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
